body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient( circle farthest-corner at 6.7% 22.9%,  rgba(53,62,75,1) 0%, rgba(187,187,187,1) 96.6% ) no-repeat;
  background-size: cover;
  min-height: 100%;

}

html{
  min-height: 120%;

}

.wrapper{
  min-height: 100%;
  margin-bottom: -20px;
}

.submit{
  margin-bottom: .3em;
}

.footer{
  height: 100px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%) !important;

}
.push{
  height: 237px;
}

.site-card-border-less-wrapper{
  display: flex;
  padding: .4em;
}

.reps, .weight, .lift, .sub, .pr, .card
{
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  color: #eef1f5;
}
.card{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%) !important;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  /* margin-top: 4em; */
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.sub{
  font-size: 20px;
  margin-top: .5em;
  margin-bottom: 1em;
}

.form{
  max-width: 10em;
}

.workouts{
  display: flex !important;
  flex-direction: row !important;
  flex-flow: wrap;
  justify-content:center;  
}

 .git{
  margin-left: 3em;
} 

.header{
  max-height: 10em;  
}
.title{
  color: azure;
  font-family:monospace;
}